<section id="modal">
  <div id="card">
    <div>
      <h2>Confirmação</h2>
      <a id="close" href="/"><i class="bi bi-x-square"></i></a>
    </div>

    <hr />
    <p>Deseja Apagar a tarefa: <%= task.task %> ?</p>
    <div id="btns">
      <a id="btnNot" href="/">Não</a>
      <a id="btnYes" href="/deleteOne/<%= task._id %>"> Sim</a>
    </div>
  </div>
</section>
